<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tienda cubana que vende todo tipos de productos">
    <meta name="keywords" content="Matt's shop, Matt's Shop, Matts Shop">
    <link rel="stylesheet" href="/src/public/css/principal_page.css">
    <link rel="shortcut icon" href="/src/public/img/logo/logo.jpg" type="image/x-icon">
    <title>Matt's Shop</title>
</head>
<body>
    <header>
        <div class="container_logo">
            <img class="logo" src="/src/public/img/logo/logo-2.jpg" alt="logo de la página Matt's Shop">
        </div>
        <div class="container_bienvenida">
            <h1>Bienvenido a Matt's Shop</h1>
        </div>
    </header>

    <nav class="nav_bar">
        <div class="container_items">
            <a class="enlaces_nav" href="#ropa">Ropa</a>
            <a class="enlaces_nav" href="#electronica">Electrónica</a>
            <a class="enlaces_nav" href="#accesorios">Accesorios</a>
            <a class="enlaces_nav" href="#ofertas">Ofertas</a>
        </div>
    </nav>

    <main>
        <section id="ropa" class="product-section">
            <div class="products-grid">
                <!-- Productos de Ropa -->
            <a href="product.html">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/src/public/img/product/ropa/mattsshop8000 (1).jpg" alt="Producto ropa">
                    </div>
                    <div class="product-info">
                        <p class="product-description">
                            Conjunto de short y pullover con letras grandes
                        </p>
                        <span class="product-price">$8000</span>
                        <span class="oferta">9000</span>
                    </div>
                </div>
            </a>

            <a href="product1.html">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/src/public/img/product/ropa/mattsshop8000 (2).jpg" alt="Producto ropa">
                    </div>
                    <div class="product-info">
                        <p class="product-description">
                            Conjunto de short y camisa beige
                        </p>
                        <span class="product-price">$8000</span>
                        <span class="oferta">9500</span>
                    </div>
                </div>
            </a>

            <a href="product2.html">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/src/public/img/product/ropa/mattsshop8000 (3).jpg" alt="Producto ropa">
                    </div>
                    <div class="product-info">
                        <p class="product-description">
                            Conjunto de short y camisa estampado de plantas tropicales
                        </p>
                        <span class="product-price">$8000</span>
                        <span class="oferta">10 000</span>
                    </div>
                </div>
            </a>

            <a href="product3.html">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/src/public/img/product/ropa/mattsshop8000 (4).jpg" alt="Producto ropa">
                    </div>
                    <div class="product-info">
                        <p class="product-description">
                            Conjunto de short y pullover con letras USA
                        </p>
                        <span class="product-price">$8000</span>
                        <span class="oferta">9700</span>
                    </div>
                </div>
            </a>

            <a href="product4.html">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/src/public/img/product/ropa/mattsshop9000 (2).jpg" alt="Producto ropa">
                    </div>
                    <div class="product-info">
                        <p class="product-description">
                            Conjunto de short y pullover con letras grandes de Los Angeles
                        </p>
                        <span class="product-price">$9000</span>
                        <span class="oferta">10 000</span>
                    </div>
                </div>
            </a>

            <a href="product5.html">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/src/public/img/product/ropa/mattsshop9000 (1).jpg" alt="Producto ropa">
                    </div>
                    <div class="product-info">
                        <p class="product-description">
                            Conjunto de short y pullover shein con el número 23 de Michael Jordan
                        </p>
                        <span class="product-price">$9000</span>
                    </div>
                </div>
            </a>

            <a href="product6.html">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/src/public/img/product/ropa/mattsshop9000 (5).jpg" alt="Producto ropa">
                    </div>
                    <div class="product-info">
                        <p class="product-description">
                            Conjunto de short y pullover 
                        </p>
                        <span class="product-price">$9000</span>
                    </div>
                </div>
            </a>

            <a href="product7.html">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/src/public/img/product/ropa/mattsshop9000 (3).jpg" alt="Producto ropa">
                    </div>
                    <div class="product-info">
                        <p class="product-description">
                            Conjunto de short y pullover shein con diseño de New York
                        </p>
                        <span class="product-price">$9000</span>
                    </div>
                </div>
            </a>

            <a href="product8.html">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/src/public/img/product/ropa/mattsshop9000 (4).jpg" alt="Producto ropa">
                    </div>
                    <div class="product-info">
                        <p class="product-description">
                            Conjunto de short y pullover con cuello color beige
                        </p>
                        <span class="product-price">$9000</span>
                        <span class="oferta">11 000</span>
                    </div>
                </div>
            </a>

            <a href="product9.html">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/src/public/img/product/ropa/mattsshop9000 (6).jpg" alt="Producto ropa">
                    </div>
                    <div class="product-info">
                        <p class="product-description">
                            Conjunto de short y pullover de shein
                        </p>
                        <span class="product-price">$9000</span>
                    </div>
                </div>
            </a>

            <a href="product10.html">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/src/public/img/product/ropa/mattsshop9000 (7).jpg" alt="Producto ropa">
                    </div>
                    <div class="product-info">
                        <p class="product-description">
                            Conjunto de short y camisa con estampado de palmeras en color negro y blanco
                        </p>
                        <span class="product-price">$9000</span>
                        <span class="oferta">10 000</span>
                    </div>
                </div>
            </a>

                <!-- Repite product-card para más productos -->
            </div>
        </section>

        <!-- Repite la misma estructura para las otras secciones -->
    </main>

    <main>
        <section id="electronica" class="product-section">
            <div class="products-grid">
                <!-- Productos de Ropa -->

                <!-- Repite product-card para más productos -->
            </div>
        </section>

        <!-- Repite la misma estructura para las otras secciones -->
    </main>

    <main>
        <section id="accesorios" class="product-section">
            <div class="products-grid">
                <!-- Productos de Ropa -->

                <!-- Repite product-card para más productos -->
            </div>
        </section>

        <!-- Repite la misma estructura para las otras secciones -->
    </main>

    <main>
        <section id="ofertas" class="product-section">
            <div class="products-grid">
                <!-- Productos de Ropa -->

                <!-- Repite product-card para más productos -->
            </div>
        </section>

        <!-- Repite la misma estructura para las otras secciones -->
    </main>

    <footer>
        <div class="contacto">
            <p>Contacto</p>
            <a href="">
                <img src="/src/public/img/info_contact/gmail_new_logo_icon_159149.png" alt="gmail" class="gmail">
            </a>
        </div>
        <div class="redes">
            <p>Redes</p>
            <div class="social-icons">
                <a href=""><img src="/src/public/img/info_contact/Whatsapp_icon-icons.com_66931.png" alt="whatsapp"></a>
                <a href=""><img src="/src/public/img/info_contact/1491580635-yumminkysocialmedia26_83102.png" alt="instagram"></a>
                <a href=""><img src="/src/public/img/info_contact/facebook_logo_icon_147291.png" alt="facebook"></a>
            </div>
        </div>
    </footer>
</body>
</html>
